// Import des variables de style
@import '../../sass/utils/variables.scss';

.profil {
  width: 830px;
  margin: auto;
  padding-left: 10px;

  // Utilisation d'un mixin pour les écrans de bureau
  @include desktop-breakpoint {
    width: fit-content;
    padding-left: 0;
  }

  &-title {
    font-size: 3rem;
    font-weight: 500;
  }

  &-firstName {
    color: #ff0101;
  }

  &-subtitle {
    margin: 0;
    margin-top: 2.5625rem;
    margin-bottom: 4.8125rem;
    font-size: 1rem;
    text-align: left;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;

  // Utilisation d'un mixin pour les écrans de bureau
  @include desktop-breakpoint {
    flex-direction: row;
  }

  &-charts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2;

    // Utilisation d'un mixin pour les écrans de bureau
    @include desktop-breakpoint {
      order: 1;
    }
  }

  &-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 1;

    .profil-food-data {
      display: flex;
      max-width: 55rem;

      // Utilisation d'un mixin pour les écrans de bureau
      @include desktop-breakpoint {
        display: block;
      }
    }

    // Utilisation d'un mixin pour les écrans de bureau
    @include desktop-breakpoint {
      display: block;
      order: 2;
      margin-left: 1.9375rem;
    }
  }
}

.small-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  // Utilisation d'un mixin pour les écrans de bureau
  @include desktop-breakpoint {
    margin-bottom: 0;
  }
}
